<div class="flex justify-center">
  <div class="rounded border-4 border-orange-400 p-2 m-2">
    <p class="font-semibold">Website under construction!</p>
    <p>See current event information at the <a href="https://www.dsl.unibe.ch/lab/bdsd/">DSL event page</a></p>
  </div>
</div>