<h1 class="cursor-default text-4xl font-sans font-black py-4 bg-purple-900 print:bg-white text-red-300 print:text-black text-center">
  Bern Data <span class="text-yellow-200 print:text-black">Science</span> Day 2023
</h1>