<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title or (renderData and renderData.title) }}</title>
    <meta name="description" content="{{ description | default("Bern Data Science Day 2023") }}">
    <meta name="author" content="Data Science Lab">
    <link rel="sitemap" type="application/xml" title="Sitemap" href="/sitemap.xml">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900">
    <link rel="stylesheet" href="/css/bdsd.css">
  </head>
  <body class="bg-gradient-to-b from-orange-200 to-white bg-fixed print:bg-white">
    {{ content | indent(4) | safe }}
  </body>
</html>
