---
layout: layouts/base
---
<h1 class="text-4xl font-sans font-black py-4 bg-purple-900 print:bg-white text-red-300 print:text-black text-center">Bern Data <span class="text-yellow-200 print:text-black">Science</span> Day 2023</h1>
<div class="md:container mx-auto text-center">
  {# {% include 'components/construction.njk' %} #}
  {{ content | indent(2) | safe }}
</div>
