---
layout: layouts/base
---
{% include 'components/header.njk' %}
<div class="lg:container mx-auto text-center grid lg:grid-cols-4 lg:gap-8">
  {# {% include 'components/construction.njk' %} #}
  <div class="lg:col-span-3">
    {{ content | indent(4) | safe }}
  </div>
  <div>
    {% include 'components/sidebar.njk' %}
  </div>
</div>
{% include 'components/footer.njk' %}
