@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-4xl;
    @apply font-sans;
  }
  h2 {
    @apply text-3xl;
    @apply font-sans;
  }
  h3 {
    @apply text-2xl;
    @apply font-sans;
  }

  a {
    @apply hover:underline;
    @apply text-blue-700;
  }

  body {
    print-color-adjust: exact !important;
  }
}
/* 
h1 {
  font-weight: 900;
}

table.schedule {
  border-collapse: collapse;
}

table.schedule td {
  padding: 0.3em;
}

table.schedule tbody tr:nth-child(2n+1) {
  background-color: lightgray;
}

table.schedule td.time {
  text-align: center
}

table.schedule tr[data-belongs-to="main"] span.title {
  font-weight: bold;
}

table.schedule tr[data-belongs-to="fluff"] td.title {
  font-style: italic;
}

table.schedule td.room {
  text-align: center
} */
