---
title: BDSD 2023
layout: layouts/bdsd
description: Bern Data Science Day 2023
date: Last Modified
---
<h2 class="my-4 font-semibold">Main schedule</h2>

<table class="mx-auto w-full">
  <thead>
    <tr class="bg-purple-300 dark:bg-orange-900 text-lg sticky top-0 z-10">
      <th>Time</th>
      <th>Event</th>
      <th>Room(s)</th>
    </tr>
  </thead>
  <tbody>
    {% for item in schedule -%}{% if (item.belongs_to == "main") or (item.belongs_to == "fluff") -%}
    <tr data-id="{{ item.id }}" data-belongs-to="{{ item.belongs_to }}" class="odd:bg-purple-100 even:bg-white dark:odd:bg-orange-950 dark:even:bg-black odd:print:bg-slate-100">
      <td class="px-2 py-1.5">{{ item.time_start }}&ndash;{{ item.time_end }}</td>
      <td class="px-2 py-1.5">
        {% if item.belongs_to == "main" %}
        <div class="flex flex-col">
          <div class="font-semibold">
            {% if item.children | length %}
            <a href="/sessions/{{ item.type }}/">{{ item.title }}</a>
            {% else %}
            {{ item.title }}
            {% endif %}
          </div>
          {%- if item.presented_by %}<div class="text-slate-900 dark:text-slate-100 text-sm">{{ item.presented_by }}</div>{% endif %}
        </div>
        {% elif item.belongs_to == "fluff" %}
          <span class="italic">{{ item.title }}</div>
        {% endif %}
      </td>
      <td class="px-2 py-1.5">{{ item.rooms.join(", ") }}</td>
    </tr>
    {%- endif %}{%- endfor %}
  </tbody>
</table>