---
pagination:
  data: session_names
  size: 1
  alias: session_name
permalink: "sessions/{{ session_name}}/"
eleventyComputed:
  title: "BDSD 2023 | {{ sessions[session_name].title }}"
  og_title: "{{ sessions[session_name].title }}"
  description: "Bern Data Science Day 2023 | {{ sessions[session_name].title }}"
layout: layouts/bdsd
date: Last Modified
---
{% set session = sessions[session_name] %}
<h2 class="my-4 font-semibold">{{ session.title }}</h2>
<nav class="my-2 print:hidden"><a class="font-semibold" href="/">&lt; Back to Main Schedule</a></nav>

{% for room_track in session.room_tracks %}
<div>
<h3 class="my-4 font-semibold sticky top-0 bg-gradient-to-b from-red-200 to-white dark:from-purple-950 dark:to-black bg-fixed print:bg-white z-20">Room {{ room_track.room }}</h3>
<table class="mx-auto w-full">
  <thead>
    <tr class="text-lg sticky top-8 z-10">
      <th class="bg-fuchsia-300 dark:bg-yellow-700 sm:min-w-[7.5rem]">Time</th>
      <th class="bg-purple-300 dark:bg-red-900">ID</th>
      <th class="bg-purple-300 dark:bg-red-900">Presentation</th>
    </tr>
  </thead>
  <tbody>
    {% set flip = false %}
    {% for time_record in room_track.times -%}
    {% set flip = not flip %}
    {% for item in time_record.subschedule -%}
    <tr data-id="{{ item.id }}" data-belongs-to="{{ item.belongs_to }}" class="odd:bg-purple-100 even:bg-white dark:odd:bg-red-950 dark:even:bg-black odd:print:bg-slate-100">
      {% if loop.index == 1 %}<td class="px-2 py-1.5 {% if flip %}bg-fuchsia-100 dark:bg-yellow-900 print:bg-slate-200{% else %}bg-fuchsia-50 dark:bg-yellow-950 print:bg-slate-100{% endif %}" rowspan="{{ loop.length }}">
        <div class="sticky top-16">{{ item.time_string }}</div>
      </td>{% endif %}
      <td class="px-2 py-1.5">{{ item.id }}</td>
      <td class="px-2 py-1.5">
        <div class="flex flex-col">
          <div class="font-semibold">
            {% if item.children | length %}
            <a href="/{{ item.type }}">{{ item.title }}</a>
            {% else %}
            {{ item.title }}
            {% endif %}
          </div>
          {%- if item.presented_by %}<div class="text-slate-900 dark:text-slate-100 text-sm">{{ item.presented_by }}</div>{% endif %}
        </div>
      </td>
    </tr>
    {%- endfor %}
    {%- endfor %}
  </tbody>
</table>
</div>
{% endfor %}

<nav class="mt-4 mb-2 print:hidden"><a class="font-semibold" href="/">&lt; Back to Main Schedule</a></nav>