<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <meta name="description" content="{{ description | default("Bern Data Science Day 2023") }}">
    <meta name="author" content="Data Science Lab">
    <link rel="sitemap" type="application/xml" title="Sitemap" href="/sitemap.xml">
    <link rel="stylesheet" href="/css/bdsd.css">
  </head>
  <body>
    {{ content | indent(4) | safe }}
  </body>
</html>
